
:root {
  --text                                   : #171717;
  --text-subtle                            : #505050;
  --text-invert                            : #fff;
  --text-glow-high-contrast                : #171717;
  --box-shadow-light                       : hsla(0deg, 0%, 0%, 0.11);
  --box-shadow-medium                      : hsla(0deg, 0%, 0%, 0.13);
  --box-shadow-heavy                       : hsla(0deg, 0%, 0%, 0.18);
  --box-shadow-extra-heavy                 : hsla(0deg, 0%, 0%, 0.22);
  --overlay                                : hsla(0deg, 0%, 0%, 0.7);
  --overlay-invert                         : #fff;
  --body-background                        : #fff;
  --body-background-medium                 : #f2f2f2;
  --alternate-background                   : #171717;
  --alternate-background-medium            : #2f2f2f;
  --border                                 : #e6e6e6;
  --table-header                           : #e6e6e6;
  --table-row                              : #f2f2f2;
  --table-row-header                       : #fafafa;
  --table-border-dark                      : #d2d2d2;
  --hover-base                             : #2f2f2f;
  --hover-invert                           : #fafafa;
  --border-white-high-contrast             : hsla(0deg, 0%, 100%, 0);
  --border-yellow-high-contrast            : hsla(0deg, 0%, 0%, 0);
  --code-header                            : #e6e6e6;
  --code-block                             : #f2f2f2;
  --control-border                         : #757575;
  --inline-code                            : #e6e6e6;
  --code-highlight-background              : #fff4ce;
  --visited                                : #624991;
  --score-low-off                          : hsla(0deg, 100%, 33%, 0.3);
  --score-low                              : #b62626;
  --score-medium-off                       : hsla(44deg, 100%, 50%, 0.3);
  --score-medium                           : #ffb900;
  --score-high-off                         : hsla(120deg, 37%, 45%, 0.3);
  --score-high                             : #2a8b2a;
  --hyperlink                              : #0065b3;
  --primary-base                           : #0078d4;
  --primary-background                     : #d7eaf8;
  --primary-background-glow-high-contrast  : #d7eaf8;
  --primary-dark                           : #004173;
  --primary-hover                          : #0065b3;
  --primary-active                         : #00579a;
  --primary-box-shadow                     : hsla(206deg, 100%, 35%, 0.3);
  --primary-invert                         : #fff;
  --secondary-base                         : #a2a2a2;
  --secondary-background                   : #e6e6e6;
  --secondary-background-glow-high-contrast: #e6e6e6;
  --secondary-dark                         : #2f2f2f;
  --secondary-hover                        : #d2d2d2;
  --secondary-active                       : #d2d2d2;
  --secondary-box-shadow                   : hsla(0deg, 0%, 0%, 0.3);
  --secondary-invert                       : #000;
  --tertiary-base                          : #243a5e;
  --tertiary-background                    : #061329;
  --tertiary-background-glow-high-contrast : #061329;
  --tertiary-dark                          : #a4b2c9;
  --tertiary-hover                         : #14294c;
  --tertiary-active                        : #70819f;
  --tertiary-box-shadow                    : hsla(262deg, 46%, 17%, 0.3);
  --tertiary-invert                        : #fff;
  --success-base                           : #107c10;
  --success-background                     : #dff6dd;
  --success-background-glow-high-contrast  : #dff6dd;
  --success-dark                           : #054b16;
  --success-hover                          : #0b6413;
  --success-active                         : #054b16;
  --success-box-shadow                     : hsla(120deg, 37%, 45%, 0.3);
  --success-invert                         : #fff;
  --info-base                              : #8661c5;
  --info-background                        : #efd9fd;
  --info-background-glow-high-contrast     : #efd9fd;
  --info-dark                              : #3b2e58;
  --info-hover                             : #8661c5;
  --info-active                            : #624991;
  --info-box-shadow                        : hsla(251deg, 47%, 18%, 0.3);
  --info-invert                            : #fff;
  --warning-base                           : #ffb900;
  --warning-background                     : #fff4ce;
  --warning-background-glow-high-contrast  : #fff4ce;
  --warning-dark                           : #6a4b16;
  --warning-hover                          : #d19501;
  --warning-active                         : #966802;
  --warning-box-shadow                     : hsla(44deg, 100%, 50%, 0.3);
  --warning-invert                         : #000;
  --danger-base                            : #a80000;
  --danger-background                      : #fde7e9;
  --danger-background-glow-high-contrast   : #fde7e9;
  --danger-dark                            : #470001;
  --danger-hover                           : #870000;
  --danger-active                          : #630001;
  --danger-box-shadow                      : hsla(0deg, 100%, 33%, 0.3);
  --danger-invert                          : #fff;
  --facepile-red                           : #a80000;
  --facepile-teal                          : #328e9f;
  --facepile-blue                          : #0078d4
}

[data-theme='dark'] {
    --text                                   : #e6e6e6;
    --text-subtle                            : #d2d2d2;
    --text-invert                            : #2f2f2f;
    --text-glow-high-contrast                : #e6e6e6;
    --box-shadow-light                       : hsla(0deg, 0%, 0%, 0.11);
    --box-shadow-medium                      : hsla(0deg, 0%, 0%, 0.13);
    --box-shadow-heavy                       : hsla(0deg, 0%, 0%, 0.18);
    --box-shadow-extra-heavy                 : hsla(0deg, 0%, 0%, 0.22);
    --overlay                                : hsla(0deg, 0%, 0%, 0.7);
    --overlay-invert                         : #fff;
    --body-background                        : #171717;
    --body-background-medium                 : #2f2f2f;
    --alternate-background                   : #f2f2f2;
    --alternate-background-medium            : #fafafa;
    --border                                 : #404040;
    --table-header                           : #404040;
    --table-row                              : #2f2f2f;
    --table-row-header                       : #2f2f2f;
    --table-border-dark                      : #505050;
    --hover-base                             : #d2d2d2;
    --hover-invert                           : #2f2f2f;
    --border-white-high-contrast             : hsla(0deg, 0%, 100%, 0);
    --border-yellow-high-contrast            : hsla(0deg, 0%, 0%, 0);
    --code-header                            : #404040;
    --code-block                             : #2f2f2f;
    --control-border                         : #d2d2d2;
    --inline-code                            : #404040;
    --code-highlight-background              : #0b6413;
    --visited                                : #ac7ee1;
    --score-low-off                          : hsla(0deg, 100%, 33%, 0.7);
    --score-low                              : #b62626;
    --score-medium-off                       : hsla(44deg, 100%, 50%, 0.3);
    --score-medium                           : #ffcb3f;
    --score-high-off                         : hsla(120deg, 37%, 45%, 0.7);
    --score-high                             : #489d48;
    --hyperlink                              : #75b6e7;
    --primary-base                           : #75b6e7;
    --primary-background                     : #004173;
    --primary-background-glow-high-contrast  : #004173;
    --primary-dark                           : #9ccbee;
    --primary-hover                          : #278cda;
    --primary-active                         : #0078d4;
    --primary-box-shadow                     : hsla(206deg, 100%, 35%, 0.3);
    --primary-invert                         : #000;
    --secondary-base                         : #757575;
    --secondary-background                   : #404040;
    --secondary-background-glow-high-contrast: #404040;
    --secondary-dark                         : #e6e6e6;
    --secondary-hover                        : #8e8e8e;
    --secondary-active                       : #a2a2a2;
    --secondary-box-shadow                   : hsla(0deg, 0%, 0%, 0.7);
    --secondary-invert                       : #fff;
    --tertiary-base                          : #404040;
    --tertiary-background                    : #171717;
    --tertiary-background-glow-high-contrast : #171717;
    --tertiary-dark                          : #e6e6e6;
    --tertiary-hover                         : #505050;
    --tertiary-active                        : #757575;
    --tertiary-box-shadow                    : hsla(206deg, 100%, 35%, 0.3);
    --tertiary-invert                        : #fff;
    --success-base                           : #7cbb7b;
    --success-background                     : #054b16;
    --success-background-glow-high-contrast  : #054b16;
    --success-dark                           : #dff6dd;
    --success-hover                          : #489d48;
    --success-active                         : #7cbb7b;
    --success-box-shadow                     : hsla(120deg, 37%, 45%, 0.7);
    --success-invert                         : #000;
    --info-base                              : #9970d3;
    --info-background                        : #3b2e58;
    --info-background-glow-high-contrast     : #3b2e58;
    --info-dark                              : #efd9fd;
    --info-hover                             : #ac7ee1;
    --info-active                            : #d59dff;
    --info-box-shadow                        : hsla(251deg, 47%, 18%, 0.7);
    --info-invert                            : #000;
    --warning-base                           : #ffb900;
    --warning-background                     : #6a4b16;
    --warning-background-glow-high-contrast  : #6a4b16;
    --warning-dark                           : #fff4ce;
    --warning-hover                          : #ffcb3f;
    --warning-active                         : #ffdf84;
    --warning-box-shadow                     : hsla(44deg, 100%, 50%, 0.7);
    --warning-invert                         : #000;
    --danger-base                            : #e5a7a8;
    --danger-background                      : #630001;
    --danger-background-glow-high-contrast   : #630001;
    --danger-dark                            : #fde7e9;
    --danger-hover                           : #c54f4f;
    --danger-active                          : #d4797a;
    --danger-box-shadow                      : hsla(0deg, 100%, 33%, 0.7);
    --danger-invert                          : #000;
    --facepile-red                           : #c54f4f;
    --facepile-teal                          : #50e6ff;
    --facepile-blue                          : #278cda
  }